@import url('https://fonts.googleapis.com/css?family=Tangerine');
@import url('https://fonts.googleapis.com/css?family=Lateef');
body {
  text-align: right;
  background: url('images/parisview.jpg');  
  background-size: cover;
  color: black;
  font-family: 'Tangerine', cursive;
  font-size: 70px;
}
br { 
  line-height:10px;
}
p {text-align: left;
	font-family: 'Lateef', cursive;
	font-size:30px;
    
}