body {
  text-align: right;
  background: url('images/parisview.jpg');  
  background-size: cover;
  color: black;
  font-family: Helvetica;
  font-size: 22px;
}
br { 
  line-height:150px;
}
p {text-align: center;
	font-size:33px;
    font-weight: bold;
}